.share-toggle {
  z-index: 2;

  &:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
  }

  &.share-expanded:before {
    content: "\f00d";
  }
}

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow:
          0 2px 4px rgba(0,0,0, 0.12),
          0 2px 4px rgba(0,0,0, 0.24);
}
.share-icon:hover,
.share-icon:focus {
  box-shadow:
          0 3px 6px rgba(0,0,0, 0.12),
          0 3px 6px rgba(0,0,0, 0.24);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.social-icon {
  @extend .share-icon;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;

}

.facebook {
  background-color: #3b5998;
}
.vk {
  background-color: #45668e;
}
.googleplus {
  background-color: #d3492c;
}

.facebook,
.vk,
.googleplus {
  color: #fff;
}

.facebook:hover,
.vk:hover,
.googleplus:hover {
  color: #eee;
}
