.mdl-mini-footer {
  margin-left: 240px;
  background-color: $color-dark;
  color: #fff;

  .follow {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #45668e;
    display: inline-block;
    margin: 0 calc(50% - 21px);
    white-space: nowrap;
    padding: 5px 8px;
    box-sizing: border-box;
    color: $color-dark;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    i {
      color: #fff;
      font-size: 22px;
      margin-right: 20px;
      transition: margin-right 0.2s ease;
    }
    &:hover {
      color: #fff;
      width: 134px;
      transform: translateX(-50px);
      i {
        margin-right: 10px;
      }
    }
  }
}